.container {
    background-image: url(../files/img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
    min-height: 90%;
    max-height: 88vh;
    border-radius: 25px;
    margin: 25px;
    border: 9px ridge #79ff97;
}

.painelsuperior{
    background-color: #151515;
    border-radius: 25px;
    padding: 3%;
    width: 90%;
    max-width: 1200px;
    max-height: 300px;
    margin-bottom: 1%;
}

.painelsuperior h1{
    color: #79ff97;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

.painelsuperior h2{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

.painelsuperior img{
    max-height: 150px;
    border-radius: 900px;
    border: 9px double #12a131;
}

.git{
    max-width: 1350px;
}
.git img{
    width: 48%;
    min-width: 250px;
    margin: 5px;
}

.contato {
    padding: 20px;
    margin: 10px;
}

.contato img{
    margin: 10px;
    width: 23%;
    max-width: 230px;
    min-width: 200px;
    border-radius: 10px;
}

.contato img:hover{
    width: 26%;
    max-width: 240px;
}
