.container {
    background-image: url(../files/img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px;
    min-height: 90%;
    max-height: 88vh;
    border-radius: 25px;
    margin: 25px;
    border: 9px ridge #79ff97;
}

.painelsuperior{
    background-color: #151515;
    border-radius: 25px;
    padding: 3%;
    width: 70%;
    max-width: 1200px;
    max-height: 300px;
    padding-bottom: 50px;
    margin-bottom: 1%;
}

.painelsuperior h1{
    color: #79ff97;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

.painelsuperior h2{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

.painelsuperior img{
    max-height: 150px;
    border-radius: 900px;
    border: 9px double #12a131;
}

.git{
    max-width: 1350px;
}
.git img{
    width: 48%;
    min-width: 200px;
    margin: 5px;
}

.contato {
    padding: 0;
}

.contato img{
    min-width: 200px;
    max-width: 230px;
    border-radius: 10px;
}

.contato img:hover{
    width: 26%;
    max-width: 240px;
}

@media screen and (max-width: 700px) {
    .painelsuperior{
        padding-bottom: 10px;
    }
    .painelsuperior img{
        max-height: 100px;
    }
    .painelsuperior h1{
        font-size: 1.5rem;
    }
    .git img{
        width: 100%;
        margin: 1px;
    }
}